In [299]:
import pandas as pd
from datetime import datetime, timedelta

In [300]:
zulo_bank = pd.read_csv('zulo_bank - zulo_bank.csv')

In [301]:
display(zulo_bank.head())

,FullName,Email,Phone,TransactionType,Amount,TransactionDate,AccountType,Balance,OpeningDate,LoanAmount,LoanType,StartDate,EndDate,InterestRate
0,Carol Miller,yfisher@example.org,6088279027,withdrawal,102.15,2023-04-26,Savings,5652.16,2019-08-12,NaN,NaN,NaN,NaN,NaN
1,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,32428.90,Mortgage,2021-06-24,2050-01-08 4:59:18,2.12
2,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,31406.77,Personal,2021-02-27,2038-10-12 4:59:18,4.63
3,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27834.00,Personal,2019-12-05,2037-08-15 4:59:18,2.15
4,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27873.08,Auto,2022-01-19,2037-06-03 4:59:18,7.03

In [302]:
zulo_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FullName         1554 non-null   object
 1   Email            1554 non-null   object
 2   Phone            1554 non-null   object
 3   TransactionType  1554 non-null   object
 4   Amount           1554 non-null   float64
 5   TransactionDate  1554 non-null   object
 6   AccountType      1554 non-null   object
 7   Balance          1554 non-null   float64
 8   OpeningDate      1554 non-null   object
 9   LoanAmount       1278 non-null   float64
 10  LoanType         1278 non-null   object
 11  StartDate        1278 non-null   object
 12  EndDate          1278 non-null   object
 13  InterestRate     1278 non-null   float64
dtypes: float64(4), object(10)
memory usage: 170.1+ KB

In [303]:
#Fill missing values with appropriate parameter
zulo_bank.fillna({
    'LoanAmount': 0.0,
    'LoanType' : 'Unkown',
    'InterestRate' : 0.0
}, inplace=True)

In [304]:
zulo_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FullName         1554 non-null   object
 1   Email            1554 non-null   object
 2   Phone            1554 non-null   object
 3   TransactionType  1554 non-null   object
 4   Amount           1554 non-null   float64
 5   TransactionDate  1554 non-null   object
 6   AccountType      1554 non-null   object
 7   Balance          1554 non-null   float64
 8   OpeningDate      1554 non-null   object
 9   LoanAmount       1554 non-null   float64
 10  LoanType         1554 non-null   object
 11  StartDate        1278 non-null   object
 12  EndDate          1278 non-null   object
 13  InterestRate     1554 non-null   float64
dtypes: float64(4), object(10)
memory usage: 170.1+ KB

In [305]:
# Convert to 1NF
# Split 'FullName' into two parts 'FirstName' and 'LastName'
zulo_bank[['first_name', 'last_name']] = zulo_bank['FullName'].str.split(expand=True)

display(zulo_bank.head())

,FullName,Email,Phone,TransactionType,Amount,TransactionDate,AccountType,Balance,OpeningDate,LoanAmount,LoanType,StartDate,EndDate,InterestRate,first_name,last_name
0,Carol Miller,yfisher@example.org,6088279027,withdrawal,102.15,2023-04-26,Savings,5652.16,2019-08-12,0.00,Unkown,NaN,NaN,0.00,Carol,Miller
1,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,32428.90,Mortgage,2021-06-24,2050-01-08 4:59:18,2.12,Geoffrey,Banks
2,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,31406.77,Personal,2021-02-27,2038-10-12 4:59:18,4.63,Geoffrey,Banks
3,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27834.00,Personal,2019-12-05,2037-08-15 4:59:18,2.15,Geoffrey,Banks
4,Geoffrey Banks,gonzalesgeorge@example.net,001-546-857-6518x5359,withdrawal,358.80,2020-06-13,Credit,2881.24,2019-05-06,27873.08,Auto,2022-01-19,2037-06-03 4:59:18,7.03,Geoffrey,Banks

In [306]:
# converting 1NF to 2NF
# Starting with customer's table
customer = zulo_bank[['first_name', 'last_name', 'Email', 'Phone']].copy().drop_duplicates().reset_index(drop=True)
customer['customer_id'] = range(1, len(customer) + 1)
customer = customer[['customer_id', 'first_name', 'last_name', 'Email', 'Phone']]

In [307]:
customer

,customer_id,first_name,last_name,Email,Phone
0,1,Carol,Miller,yfisher@example.org,6088279027
1,2,Geoffrey,Banks,gonzalesgeorge@example.net,001-546-857-6518x5359
2,3,Eric,Phillips,mark13@example.com,(699)516-7638x82918
3,4,Paul,Noble,harrisonrachel@example.net,+1-586-758-3968x3144
4,5,Ryan,Alexander,loganjohn@example.org,900.377.1792x148
...,...,...,...,...,...
82,83,Linda,Mendoza,lisaturner@example.net,(309)389-5448
83,84,Tony,Robinson,timothywiley@example.com,382-628-5059x479
84,85,Nicole,Stevens,colliermichael@example.net,(324)854-4855x79170
85,86,Philip,Huynh,bgraham@example.net,8058324167
86,87,Sheri,Johnson,michaelhahn@example.net,001-567-257-2127

In [308]:
# Doing same for accounts table
accounts = zulo_bank[['AccountType', 'Balance', 'OpeningDate']].copy().drop_duplicates().reset_index(drop=True)
accounts['account_id'] = range(1, len(accounts) + 1)
accounts = accounts[['account_id', 'AccountType', 'Balance', 'OpeningDate']]

In [309]:
accounts

     account_id AccountType  Balance OpeningDate
0             1     Savings  5652.16  2019-08-12
1             2      Credit  2881.24  2019-05-06
2             3     Savings  2391.90  2020-09-17
3             4      Credit  7880.53  2023-08-14
4             5      Credit  3020.69  2019-08-13
..          ...         ...      ...         ...
193         194      Credit  7251.00  2022-11-18
194         195    Checking  7140.83  2019-09-23
195         196    Checking  1782.43  2020-12-24
196         197      Credit  6893.38  2021-04-22
197         198     Savings  4040.05  2023-08-24

[198 rows x 4 columns]

In [310]:
# For transactions table
transactions = zulo_bank[['TransactionType', 'Amount', 'TransactionDate']].copy().drop_duplicates().reset_index(drop=True)
transactions['transaction_id'] = range(1, len(transactions) + 1)
transactions = transactions[['transaction_id', 'TransactionType', 'Amount', 'TransactionDate']]

In [311]:
transactions

     transaction_id TransactionType  Amount TransactionDate
0                 1      withdrawal  102.15      2023-04-26
1                 2      withdrawal  358.80      2020-06-13
2                 3         deposit  112.41      2019-05-17
3                 4         deposit  463.13      2020-09-02
4                 5      withdrawal   21.94      2022-07-03
..              ...             ...     ...             ...
995             996      withdrawal  303.30      2023-07-09
996             997         deposit  484.00      2020-12-27
997             998      withdrawal  427.36      2023-06-19
998             999      withdrawal  415.01      2022-02-09
999            1000         deposit  115.48      2021-10-16

[1000 rows x 4 columns]

In [312]:
# For the loans
loans = zulo_bank[['LoanAmount', 'LoanType', 'StartDate', 'EndDate', 'InterestRate']].copy().drop_duplicates().reset_index(drop=True)
loans['loan_id'] = range(1, len(loans) + 1)
loans = loans[['loan_id', 'LoanAmount', 'LoanType', 'StartDate', 'EndDate', 'InterestRate']]

In [313]:
loans

,loan_id,LoanAmount,LoanType,StartDate,EndDate,InterestRate
0,1,0.00,Unkown,NaN,NaN,0.00
1,2,32428.90,Mortgage,2021-06-24,2050-01-08 4:59:18,2.12
2,3,31406.77,Personal,2021-02-27,2038-10-12 4:59:18,4.63
3,4,27834.00,Personal,2019-12-05,2037-08-15 4:59:18,2.15
4,5,27873.08,Auto,2022-01-19,2037-06-03 4:59:18,7.03
...,...,...,...,...,...,...
125,126,44785.92,Personal,2020-06-25,2050-08-25 4:59:18,1.55
126,127,6815.56,Personal,2023-02-19,2033-12-16 4:59:18,2.90
127,128,15095.53,Auto,2021-10-26,2053-12-08 4:59:18,4.58
128,129,46561.79,Mortgage,2019-10-21,2033-08-13 4:59:18,2.50
129,130,33481.52,Personal,2023-07-14,2048-08-02 4:59:18,5.06

In [314]:
# Merging operations to create zulo bank table
zulo_bank = zulo_bank.merge(customer, on = ['first_name', 'last_name', 'Email', 'Phone'], how = 'left') \
                     .merge(accounts, on = ['AccountType', 'Balance', 'OpeningDate'], how = 'left') \
                     .merge(transactions, on = ['TransactionType', 'Amount', 'TransactionDate'], how = 'left') \
                     .merge(loans, on = ['LoanAmount', 'LoanType', 'StartDate', 'EndDate', 'InterestRate'], how = 'left') \
                     [['customer_id', 'account_id', 'transaction_id', 'loan_id']]

In [315]:
zulo_bank

      customer_id  account_id  transaction_id  loan_id
0               1           1               1        1
1               2           2               2        2
2               2           2               2        3
3               2           2               2        4
4               2           2               2        5
...           ...         ...             ...      ...
1549           20         165             997       29
1550           20         165             997       30
1551           25          94             998        1
1552            5          68             999       11
1553            6          76            1000       12

[1554 rows x 4 columns]

In [316]:
loans

,loan_id,LoanAmount,LoanType,StartDate,EndDate,InterestRate
0,1,0.00,Unkown,NaN,NaN,0.00
1,2,32428.90,Mortgage,2021-06-24,2050-01-08 4:59:18,2.12
2,3,31406.77,Personal,2021-02-27,2038-10-12 4:59:18,4.63
3,4,27834.00,Personal,2019-12-05,2037-08-15 4:59:18,2.15
4,5,27873.08,Auto,2022-01-19,2037-06-03 4:59:18,7.03
...,...,...,...,...,...,...
125,126,44785.92,Personal,2020-06-25,2050-08-25 4:59:18,1.55
126,127,6815.56,Personal,2023-02-19,2033-12-16 4:59:18,2.90
127,128,15095.53,Auto,2021-10-26,2053-12-08 4:59:18,4.58
128,129,46561.79,Mortgage,2019-10-21,2033-08-13 4:59:18,2.50
129,130,33481.52,Personal,2023-07-14,2048-08-02 4:59:18,5.06

In [317]:
# Converting from 2NF to 3NF
# Create the date_dim table
# Start by defining the StartDate and EndDate
start_date = datetime(2020, 1, 1)
current_date = datetime(2090, 12, 31)

# Calculate number of days between start and current dates
num_days = (current_date - start_date).days

# Generate a list of dates from start date to current dates
date_list = [start_date + timedelta(days=x) for x in range(num_days+ 1)]

# Ensure date_id matches len of date list
date = {'date_id': [x for x in range(1, len(date_list) + 1)], 'date': date_list}

# create dataframe
date_dim = pd.DataFrame(date)
date_dim['Year'] = date_dim['date'].dt.year
date_dim['Month'] = date_dim['date'].dt.month
date_dim['Day'] = date_dim['date'].dt.day
date_dim['date'] = pd.to_datetime(date_dim['date']).dt.date

In [318]:
# Now change Accounts table from 2NF to 3NF
accounts['OpeningDate'] = pd.to_datetime(accounts['OpeningDate']).dt.date
accounts = accounts.merge(date_dim, left_on = 'OpeningDate', right_on = 'date', how='inner') \
                 .rename(columns = {'date_id' : 'OpeningDate_ID'})  \
                 .reset_index(drop=True) \
                 [['account_id', 'AccountType', 'Balance', 'OpeningDate_ID']]

In [319]:
# Doing same for transactions table
transactions['TransactionDate'] = pd.to_datetime(transactions['TransactionDate']).dt.date
transactions = transactions.merge(date_dim, left_on = 'TransactionDate', right_on = 'date', how='inner') \
                           .rename(columns={'date_id' : 'TransactionDate_ID'}) \
                           .reset_index(drop=True) \
                            [['transaction_id', 'TransactionType', 'Amount', 'TransactionDate_ID']]

In [320]:
loans['StartDate'] = pd.to_datetime(loans['StartDate']).dt.date
loans['EndDate'] = pd.to_datetime(loans['EndDate']).dt.date
loans = loans.merge(date_dim, left_on = 'StartDate', right_on = 'date', how='inner') \
                           .rename(columns={'date_id' : 'StartDate_ID'}) \
                           .merge(date_dim, left_on = 'EndDate', right_on = 'date', how='inner', suffixes=('', '_end')) \
                           .rename(columns={'date_id': 'EndDate_ID'}) \
                           .reset_index(drop=True) \
                            [['loan_id', 'LoanAmount', 'LoanType', 'StartDate_ID', 'EndDate_ID', 'InterestRate']]

In [321]:
loans

     loan_id  LoanAmount  LoanType  StartDate_ID  EndDate_ID  InterestRate
0          2    32428.90  Mortgage           541       10966          2.12
1          3    31406.77  Personal           424        6860          4.63
2          5    27873.08      Auto           750        6364          7.03
3          6    25666.75      Auto          1225        7058          6.84
4          7    23853.85  Personal          1491        6618          7.41
..       ...         ...       ...           ...         ...           ...
98       125    48681.51  Mortgage           652        5608          3.28
99       126    44785.92  Personal           177       11195          1.55
100      127     6815.56  Personal          1146        5099          2.90
101      128    15095.53      Auto           665       12396          4.58
102      130    33481.52  Personal          1291       10442          5.06

[103 rows x 6 columns]

In [322]:
# saving code to our directory
transactions.to_csv(r'database_model\transactions.csv', index=False)
loans.to_csv(r'database_model\loans.csv', index=False)
accounts.to_csv(r'database_model\accounts.csv', index=False)
customer.to_csv(r'database_model\customer.csv', index=False)
date_dim.to_csv(r'database_model\date_dim.csv', index=False)
zulo_bank.to_csv(r'database_model\fact_table.csv', index=False)

### TRANSACTION DATAWAREHOUSE SCHEMA

In [323]:
transaction_dim = transactions[['transaction_id', 'TransactionType']].copy().drop_duplicates().reset_index(drop=True)
account_dim = accounts[['account_id', 'AccountType', 'Balance']].copy().drop_duplicates().reset_index(drop=True)

transaction_fact_table = zulo_bank.merge(transactions, on='transaction_id', how='inner') \
                                  .merge(accounts, on='account_id', how='inner') \
                                  [['transaction_id', 'account_id', 'OpeningDate_ID', 'Amount']]

In [324]:
transaction_fact_table

     transaction_id  account_id  OpeningDate_ID  Amount
0                 4           4            1322  463.13
1                 4           4            1322  463.13
2               334           4            1322  356.60
3               334           4            1322  356.60
4               813           4            1322   87.79
..              ...         ...             ...     ...
991             935         113             540  317.19
992             935         113             540  317.19
993             935         113             540  317.19
994             966         127            1471  252.36
995             966         127            1471  252.36

[996 rows x 4 columns]

### LOAN DATAWAREHOUSE SCHEMA

In [325]:
customer_dim =customer.copy()
loan_dim = loans[['loan_id', 'LoanType']].copy().drop_duplicates().reset_index(drop=True)

loan_fact_table = zulo_bank.merge(customer, on='customer_id', how = 'inner') \
                           .merge(loans, on='loan_id', how = 'inner') \
                           [['loan_id', 'customer_id', 'StartDate_ID', 'EndDate_ID', 'LoanAmount', 'InterestRate']]

In [326]:
loan_fact_table

      loan_id  customer_id  StartDate_ID  EndDate_ID  LoanAmount  InterestRate
0           2            2           541       10966    32428.90          2.12
1           2            2           541       10966    32428.90          2.12
2           2            2           541       10966    32428.90          2.12
3           2            2           541       10966    32428.90          2.12
4           2            2           541       10966    32428.90          2.12
...       ...          ...           ...         ...         ...           ...
1023      127           86          1146        5099     6815.56          2.90
1024      128           86           665       12396    15095.53          4.58
1025      128           86           665       12396    15095.53          4.58
1026      130           86          1291       10442    33481.52          5.06
1027      130           86          1291       10442    33481.52          5.06

[1028 rows x 6 columns]

In [327]:
transaction_dim.to_csv(r'database_model\transaction_DWHS\transaction_dim.csv', index=False)
account_dim.to_csv(r'database_model\transaction_DWHS\account_dim.csv', index=False)
transaction_fact_table.to_csv(r'database_model\transaction_DWHS\transaction_fact_table.csv', index=False)

In [328]:
loan_dim.to_csv(r'database_model\Loan_DWHS\loan_dim.csv', index=False)
customer_dim.to_csv(r'database_model\Loan_DWHS\customer_dim.csv', index=False)
loan_fact_table.to_csv(r'database_model\Loan_DWHS\loan_fact_table.csv', index=False)

### Loading code into the RDBMS using psycopg2

In [330]:
import psycopg2

In [361]:

# # Define database connection parameters including the database name
# db_params = {
#     'username' : 'postgres',
#     'password' : 'genesis23NeW',
#     'host' : 'localhost',
#     'port' : '5432',
#     'database' : 'zulo_bank'
# }

# default_db_url = f"postgresql://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"

# # Creating a database
# try:
#     # Open the connection
#     conn = psycopg2.connect(default_db_url)
#     conn.autocommit = True
#     cur = conn.cursor()
#     # Check if the database already exists
#     cur.execute(f"SELECT 1 FROM pg_catalog.pg_database WHERE datname = '{db_params['database']}'")
#     exists = cur.fetchone()
#     if not exists:
#         # Create the database
#         cur.execute(f"CREATE DATABASE {db_params['database']}")
#         print(f"Database {db_params['database']} created successfully")
#     else:
#         print(f"Database {db_params['database']} already exists")
#     # Close the connections
#     cur.close()
#     conn.close()
# except Exception as e:
#     print(f"An error occurred: {e}")

import psycopg2

# Define database connection parameters including the database name
db_params = {
    'username': 'postgres',
    'password': 'genesis23NeW',
    'host': 'localhost',
    'port': '5432',
    'database': 'zulo_bank'
}

# Connection URL to the default 'postgres' database
postgres_db_url = f"postgresql://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/postgres"

# Creating the 'zulo_bank' database if it doesn't exist
try:
    # Open the connection to the default 'postgres' database
    conn = psycopg2.connect(postgres_db_url)
    conn.autocommit = True
    cur = conn.cursor()

    # Check if the 'zulo_bank' database already exists
    cur.execute(f"SELECT 1 FROM pg_catalog.pg_database WHERE datname = '{db_params['database']}'")
    exists = cur.fetchone()

    if not exists:
        # Create the 'zulo_bank' database
        cur.execute(f"CREATE DATABASE {db_params['database']}")
        print(f"Database '{db_params['database']}' created successfully")
    else:
        print(f"Database '{db_params['database']}' already exists")
    
    # Close the connections
    cur.close()
    conn.close()
except Exception as e:
    print(f"An error occurred while creating the database: {e}")

# Attempt to connect to the 'zulo_bank' database
try:
    default_db_url = f"postgresql://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"
    conn = psycopg2.connect(default_db_url)
    print("Connection to 'zulo_bank' database successful")
    conn.close()
except Exception as e:
    print(f"An error occurred: {e}")

Database 'zulo_bank' already exists
Connection to 'zulo_bank' database successful

In [373]:
# Connect to the newly created(or existing) database to create schema and tables
def get_db_connection():
    connection = psycopg2.connect(
        host = 'localhost',
        database = 'zulo_bank',
        user = 'postgres',
        password = 'genesis23NeW'
    )
    return connection

conn = get_db_connection()

In [376]:
import psycopg2

# Define database connection parameters including the database name
db_params = {
    'username': 'postgres',
    'password': 'genesis23NeW',
    'host': 'localhost',
    'port': '5432',
    'database': 'zulo_bank'
}

def get_db_connection():
    return psycopg2.connect(
        host=db_params['host'],
        database=db_params['database'],
        user=db_params['username'],
        password=db_params['password']
    )

def create_tables():
    conn = None
    cursor = None
    try:
        conn = get_db_connection()
        cursor = conn.cursor()
        create_table_query = '''
                                CREATE SCHEMA IF NOT EXISTS zulobankdb;

                                DROP TABLE IF EXISTS zulobankdb.transactions CASCADE;
                                DROP TABLE IF EXISTS zulobankdb.accounts CASCADE;
                                DROP TABLE IF EXISTS zulobankdb.customer CASCADE;
                                DROP TABLE IF EXISTS zulobankdb.date_dim CASCADE;
                                DROP TABLE IF EXISTS zulobankdb.loans CASCADE;
                                DROP TABLE IF EXISTS zulobankdb.zulo_fact_table CASCADE;

                                CREATE TABLE IF NOT EXISTS zulobankdb.date_dim(
                                    date_id SERIAL PRIMARY KEY,
                                    date VARCHAR(10000),
                                    year INTEGER,
                                    month INTEGER,
                                    day INTEGER
                                );

                                CREATE TABLE IF NOT EXISTS zulobankdb.transactions(
                                    transaction_id SERIAL PRIMARY KEY,
                                    transaction_type VARCHAR(10000),
                                    amount FLOAT,
                                    transaction_date_id INTEGER,
                                    FOREIGN KEY (transaction_date_id) REFERENCES zulobankdb.date_dim(date_id)
                                );

                                CREATE TABLE IF NOT EXISTS zulobankdb.accounts(
                                    account_id SERIAL PRIMARY KEY,
                                    account_type VARCHAR(10000),
                                    balance FLOAT,
                                    opening_date_id INTEGER,
                                    FOREIGN KEY (opening_date_id) REFERENCES zulobankdb.date_dim(date_id)
                                );

                                CREATE TABLE IF NOT EXISTS zulobankdb.customer(
                                    customer_id SERIAL PRIMARY KEY,
                                    first_name VARCHAR(10000),
                                    last_name VARCHAR(10000),
                                    email VARCHAR(10000),
                                    phone VARCHAR(10000)
                                );

                                CREATE TABLE IF NOT EXISTS zulobankdb.loans(
                                    loan_id SERIAL PRIMARY KEY,
                                    loan_amount FLOAT,
                                    loan_type VARCHAR(10000),
                                    start_date_id INTEGER,
                                    end_date_id INTEGER,
                                    interest_rate FLOAT,
                                    FOREIGN KEY (start_date_id) REFERENCES zulobankdb.date_dim(date_id),
                                    FOREIGN KEY (end_date_id) REFERENCES zulobankdb.date_dim(date_id)
                                );

                                CREATE TABLE IF NOT EXISTS zulobankdb.zulo_fact_table(
                                    customer_id INTEGER,
                                    account_id INTEGER,
                                    transaction_id INTEGER,
                                    loan_id INTEGER,
                                    FOREIGN KEY (customer_id) REFERENCES zulobankdb.customer(customer_id),
                                    FOREIGN KEY (account_id) REFERENCES zulobankdb.accounts(account_id),
                                    FOREIGN KEY (transaction_id) REFERENCES zulobankdb.transactions(transaction_id),
                                    FOREIGN KEY (loan_id) REFERENCES zulobankdb.loans(loan_id)
                                );
                                '''

        cursor.execute(create_table_query)
        conn.commit()
        print("Tables created successfully")
    except Exception as e:
        print(f"An error occurred: {e}")
    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()

# Run the create_tables function
create_tables()

Tables created successfully

### LOADING DATA INTO OUR TABLE

In [380]:
import psycopg2
import csv


# Function to load data from CSV to date_dim table
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)
        for row in reader:
            cursor.execute(
                '''INSERT INTO zulobankdb.date_dim(date, year, month, day)
                VALUES (%s, %s, %s, %s);''',
                (row[1], row[2], row[3], row[4])
            )
    conn.commit()
    cursor.close()
    conn.close()

# Provide the csv path to the file
csv_file_path = r'database_model\date_dim.csv'

load_data_from_csv(csv_file_path)
print('dim_date data loaded successfully')

dim_date data loaded successfully

In [ ]:
import psycopg2
import csv



# Function to load data from CSV to transactions table
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)  # Skip header row
        for row in reader:
            print(row)  # Print each row for debugging
            cursor.execute(
                '''INSERT INTO zulobankdb.transactions(transaction_type, Amount, transaction_date_id)
                VALUES (%s, %s, %s);''',
                (row[1], row[2], row[3])
            )
    conn.commit()
    cursor.close()
    conn.close()

# Provide the csv path to the file
csv_file_path = r'database_model\transactions.csv'

load_data_from_csv(csv_file_path)
print('transactions data loaded successfully')

In [ ]:
import psycopg2
import csv



# Function to load data from CSV to accounts table
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)  # Skip header row
        for row in reader:
            print(row)  # Print each row for debugging
            cursor.execute(
                '''INSERT INTO zulobankdb.accounts(account_type, Balance, opening_date_id)
                VALUES (%s, %s, %s);''',
                (row[1], row[2], row[3])
            )
    conn.commit()
    cursor.close()
    conn.close()

# Provide the csv path to the file
csv_file_path = r'database_model\accounts.csv'

load_data_from_csv(csv_file_path)
print('accounts data loaded successfully')

In [ ]:
import psycopg2
import csv



# Function to load data from CSV to customer table
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)  # Skip header row
        for row in reader:
            print(row)  # Print each row for debugging
            cursor.execute(
                '''INSERT INTO zulobankdb.customer(first_name, last_name, Email, Phone)
                VALUES (%s, %s, %s, %s);''',
                (row[1], row[2], row[3], row[4])
            )
    conn.commit()
    cursor.close()
    conn.close()

# Provide the csv path to the file
csv_file_path = r'database_model\customer.csv'

load_data_from_csv(csv_file_path)
print('customer data loaded successfully')

In [ ]:
import psycopg2
import csv



# Function to load data from CSV to loans table
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)  # Skip header row
        for row in reader:
            print(row)  # Print each row for debugging
            cursor.execute(
                '''INSERT INTO zulobankdb.loans(loan_amount, loan_type, start_date_id, end_date_id, interest_rate)
                VALUES (%s, %s, %s, %s, %s);''',
                (row[1], row[2], row[3], row[4], row[5])
            )
    conn.commit()
    cursor.close()
    conn.close()

# Provide the csv path to the file
csv_file_path = r'database_model\loans.csv'

load_data_from_csv(csv_file_path)
print('loans data loaded successfully')

In [419]:
import psycopg2
import csv

# Function to establish a database connection
def get_db_connection():
    return psycopg2.connect(
        host='localhost',
        database='zulo_bank',
        user='postgres',
        password='genesis23NeW'
    )

# Function to load data from CSV to zulo_fact_table table
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)  # Skip header row
        for row in reader:
            if len(row) < 5:  # Check if the row has fewer than 5 columns
                print(f"Skipping row due to insufficient columns: {row}")
                continue
            try:
                cursor.execute(
                    '''INSERT INTO zulobankdb.zulo_fact_table(customer_id, account_id, transaction_id, loan_id)
                    VALUES (%s, %s, %s, %s);''',
                    (row[1], row[2], row[3], row[4])
                )
            except psycopg2.IntegrityError as e:  # Catch Foreign Key violation
                print(f"IntegrityError for row {row}: {e}")
                conn.rollback()  # Roll back the current transaction so you can continue
            else:
                conn.commit()  # Commit if the row is inserted successfully
    cursor.close()
    conn.close()

# Provide the csv path to the file
csv_file_path = r'database_model\fact_table.csv'

load_data_from_csv(csv_file_path)
print('zulo_fact_table data loaded successfully')

Skipping row due to insufficient columns: ['1', '1', '1', '1']
Skipping row due to insufficient columns: ['2', '2', '2', '2']
Skipping row due to insufficient columns: ['2', '2', '2', '3']
Skipping row due to insufficient columns: ['2', '2', '2', '4']
Skipping row due to insufficient columns: ['2', '2', '2', '5']
Skipping row due to insufficient columns: ['3', '3', '3', '6']
Skipping row due to insufficient columns: ['3', '3', '3', '7']
Skipping row due to insufficient columns: ['3', '3', '3', '8']
Skipping row due to insufficient columns: ['4', '4', '4', '9']
Skipping row due to insufficient columns: ['4', '4', '4', '10']
Skipping row due to insufficient columns: ['5', '5', '5', '11']
Skipping row due to insufficient columns: ['6', '6', '6', '12']
Skipping row due to insufficient columns: ['7', '7', '7', '13']
Skipping row due to insufficient columns: ['8', '8', '8', '1']
Skipping row due to insufficient columns: ['9', '9', '9', '1']
Skipping row due to insufficient columns: ['10', '10', '10', '1']
Skipping row due to insufficient columns: ['11', '11', '11', '14']
Skipping row due to insufficient columns: ['11', '11', '11', '15']
Skipping row due to insufficient columns: ['11', '11', '11', '16']
Skipping row due to insufficient columns: ['12', '12', '12', '17']
Skipping row due to insufficient columns: ['13', '13', '13', '18']
Skipping row due to insufficient columns: ['13', '13', '13', '19']
Skipping row due to insufficient columns: ['13', '13', '13', '20']
Skipping row due to insufficient columns: ['5', '5', '14', '11']
Skipping row due to insufficient columns: ['14', '14', '15', '1']
Skipping row due to insufficient columns: ['15', '15', '16', '21']
Skipping row due to insufficient columns: ['16', '16', '17', '22']
Skipping row due to insufficient columns: ['16', '16', '17', '23']
Skipping row due to insufficient columns: ['16', '16', '17', '24']
Skipping row due to insufficient columns: ['17', '17', '18', '25']
Skipping row due to insufficient columns: ['17', '18', '19', '25']
Skipping row due to insufficient columns: ['10', '19', '20', '1']
Skipping row due to insufficient columns: ['18', '20', '21', '26']
Skipping row due to insufficient columns: ['19', '21', '22', '27']
Skipping row due to insufficient columns: ['8', '22', '23', '1']
Skipping row due to insufficient columns: ['20', '23', '24', '28']
Skipping row due to insufficient columns: ['20', '23', '24', '29']
Skipping row due to insufficient columns: ['20', '23', '24', '30']
Skipping row due to insufficient columns: ['2', '24', '25', '2']
Skipping row due to insufficient columns: ['2', '24', '25', '3']
Skipping row due to insufficient columns: ['2', '24', '25', '4']
Skipping row due to insufficient columns: ['2', '24', '25', '5']
Skipping row due to insufficient columns: ['21', '25', '26', '31']
Skipping row due to insufficient columns: ['21', '25', '26', '32']
Skipping row due to insufficient columns: ['21', '25', '26', '33']
Skipping row due to insufficient columns: ['22', '26', '27', '34']
Skipping row due to insufficient columns: ['22', '26', '27', '35']
Skipping row due to insufficient columns: ['23', '27', '28', '1']
Skipping row due to insufficient columns: ['24', '28', '29', '1']
Skipping row due to insufficient columns: ['25', '29', '30', '1']
Skipping row due to insufficient columns: ['5', '30', '31', '11']
Skipping row due to insufficient columns: ['26', '31', '32', '36']
Skipping row due to insufficient columns: ['26', '31', '32', '37']
Skipping row due to insufficient columns: ['4', '32', '33', '9']
Skipping row due to insufficient columns: ['4', '32', '33', '10']
Skipping row due to insufficient columns: ['27', '33', '34', '38']
Skipping row due to insufficient columns: ['27', '33', '34', '39']
Skipping row due to insufficient columns: ['27', '33', '34', '40']
Skipping row due to insufficient columns: ['28', '34', '35', '41']
Skipping row due to insufficient columns: ['29', '35', '36', '42']
Skipping row due to insufficient columns: ['30', '36', '37', '43']
Skipping row due to insufficient columns: ['30', '36', '37', '44']
Skipping row due to insufficient columns: ['28', '37', '38', '41']
Skipping row due to insufficient columns: ['31', '38', '39', '1']
Skipping row due to insufficient columns: ['16', '16', '40', '22']
Skipping row due to insufficient columns: ['16', '16', '40', '23']
Skipping row due to insufficient columns: ['16', '16', '40', '24']
Skipping row due to insufficient columns: ['32', '39', '41', '45']
Skipping row due to insufficient columns: ['32', '39', '41', '46']
Skipping row due to insufficient columns: ['18', '40', '42', '26']
Skipping row due to insufficient columns: ['33', '41', '43', '47']
Skipping row due to insufficient columns: ['33', '41', '43', '48']
Skipping row due to insufficient columns: ['33', '41', '43', '49']
Skipping row due to insufficient columns: ['34', '42', '44', '50']
Skipping row due to insufficient columns: ['35', '43', '45', '51']
Skipping row due to insufficient columns: ['19', '44', '46', '27']
Skipping row due to insufficient columns: ['3', '45', '47', '6']
Skipping row due to insufficient columns: ['3', '45', '47', '7']
Skipping row due to insufficient columns: ['3', '45', '47', '8']
Skipping row due to insufficient columns: ['21', '25', '48', '31']
Skipping row due to insufficient columns: ['21', '25', '48', '32']
Skipping row due to insufficient columns: ['21', '25', '48', '33']
Skipping row due to insufficient columns: ['21', '25', '49', '31']
Skipping row due to insufficient columns: ['21', '25', '49', '32']
Skipping row due to insufficient columns: ['21', '25', '49', '33']
Skipping row due to insufficient columns: ['6', '46', '50', '12']
Skipping row due to insufficient columns: ['2', '2', '51', '2']
Skipping row due to insufficient columns: ['2', '2', '51', '3']
Skipping row due to insufficient columns: ['2', '2', '51', '4']
Skipping row due to insufficient columns: ['2', '2', '51', '5']
Skipping row due to insufficient columns: ['36', '47', '52', '1']
Skipping row due to insufficient columns: ['37', '48', '53', '1']
Skipping row due to insufficient columns: ['12', '49', '54', '17']
Skipping row due to insufficient columns: ['38', '50', '55', '52']
Skipping row due to insufficient columns: ['18', '51', '56', '26']
Skipping row due to insufficient columns: ['39', '52', '57', '53']
Skipping row due to insufficient columns: ['31', '53', '58', '1']
Skipping row due to insufficient columns: ['40', '54', '59', '54']
Skipping row due to insufficient columns: ['41', '55', '60', '55']
Skipping row due to insufficient columns: ['24', '56', '61', '1']
Skipping row due to insufficient columns: ['12', '57', '62', '17']
Skipping row due to insufficient columns: ['36', '58', '63', '1']
Skipping row due to insufficient columns: ['9', '59', '64', '1']
Skipping row due to insufficient columns: ['28', '34', '65', '41']
Skipping row due to insufficient columns: ['42', '60', '66', '1']
Skipping row due to insufficient columns: ['6', '61', '67', '12']
Skipping row due to insufficient columns: ['25', '62', '68', '1']
Skipping row due to insufficient columns: ['43', '63', '69', '56']
Skipping row due to insufficient columns: ['32', '39', '70', '45']
Skipping row due to insufficient columns: ['32', '39', '70', '46']
Skipping row due to insufficient columns: ['44', '64', '71', '1']
Skipping row due to insufficient columns: ['45', '65', '72', '57']
Skipping row due to insufficient columns: ['45', '65', '72', '58']
Skipping row due to insufficient columns: ['46', '66', '73', '59']
Skipping row due to insufficient columns: ['46', '66', '73', '60']
Skipping row due to insufficient columns: ['17', '67', '74', '25']
Skipping row due to insufficient columns: ['5', '68', '75', '11']
Skipping row due to insufficient columns: ['36', '69', '76', '1']
Skipping row due to insufficient columns: ['32', '39', '77', '45']
Skipping row due to insufficient columns: ['32', '39', '77', '46']
Skipping row due to insufficient columns: ['47', '70', '78', '61']
Skipping row due to insufficient columns: ['48', '71', '79', '62']
Skipping row due to insufficient columns: ['48', '71', '79', '63']
Skipping row due to insufficient columns: ['48', '71', '79', '64']
Skipping row due to insufficient columns: ['15', '72', '80', '21']
Skipping row due to insufficient columns: ['46', '73', '81', '59']
Skipping row due to insufficient columns: ['46', '73', '81', '60']
Skipping row due to insufficient columns: ['22', '74', '82', '34']
Skipping row due to insufficient columns: ['22', '74', '82', '35']
Skipping row due to insufficient columns: ['39', '75', '83', '53']
Skipping row due to insufficient columns: ['3', '45', '84', '6']
Skipping row due to insufficient columns: ['3', '45', '84', '7']
Skipping row due to insufficient columns: ['3', '45', '84', '8']
Skipping row due to insufficient columns: ['17', '67', '85', '25']
Skipping row due to insufficient columns: ['24', '56', '86', '1']
Skipping row due to insufficient columns: ['6', '76', '87', '12']
Skipping row due to insufficient columns: ['49', '77', '88', '1']
Skipping row due to insufficient columns: ['50', '78', '89', '65']
Skipping row due to insufficient columns: ['50', '78', '89', '66']
Skipping row due to insufficient columns: ['51', '79', '90', '67']
Skipping row due to insufficient columns: ['51', '79', '90', '68']
Skipping row due to insufficient columns: ['51', '79', '90', '69']
Skipping row due to insufficient columns: ['51', '79', '90', '70']
Skipping row due to insufficient columns: ['51', '79', '90', '71']
Skipping row due to insufficient columns: ['23', '80', '91', '1']
Skipping row due to insufficient columns: ['40', '54', '92', '54']
Skipping row due to insufficient columns: ['52', '81', '93', '1']
Skipping row due to insufficient columns: ['53', '82', '94', '72']
Skipping row due to insufficient columns: ['53', '82', '94', '73']
Skipping row due to insufficient columns: ['53', '82', '94', '74']
Skipping row due to insufficient columns: ['29', '35', '95', '42']
Skipping row due to insufficient columns: ['1', '1', '96', '1']
Skipping row due to insufficient columns: ['18', '51', '97', '26']
Skipping row due to insufficient columns: ['8', '22', '98', '1']
Skipping row due to insufficient columns: ['31', '53', '99', '1']
Skipping row due to insufficient columns: ['54', '83', '100', '1']
Skipping row due to insufficient columns: ['55', '84', '101', '75']
Skipping row due to insufficient columns: ['54', '85', '102', '1']
Skipping row due to insufficient columns: ['56', '86', '103', '1']
Skipping row due to insufficient columns: ['57', '87', '104', '76']
Skipping row due to insufficient columns: ['57', '87', '104', '77']
Skipping row due to insufficient columns: ['57', '87', '104', '78']
Skipping row due to insufficient columns: ['22', '26', '105', '34']
Skipping row due to insufficient columns: ['22', '26', '105', '35']
Skipping row due to insufficient columns: ['58', '88', '106', '79']
Skipping row due to insufficient columns: ['58', '88', '106', '80']
Skipping row due to insufficient columns: ['59', '89', '107', '81']
Skipping row due to insufficient columns: ['60', '90', '108', '82']
Skipping row due to insufficient columns: ['60', '90', '108', '83']
Skipping row due to insufficient columns: ['6', '61', '109', '12']
Skipping row due to insufficient columns: ['61', '91', '110', '84']
Skipping row due to insufficient columns: ['58', '92', '111', '79']
Skipping row due to insufficient columns: ['58', '92', '111', '80']
Skipping row due to insufficient columns: ['33', '93', '112', '47']
Skipping row due to insufficient columns: ['33', '93', '112', '48']
Skipping row due to insufficient columns: ['33', '93', '112', '49']
Skipping row due to insufficient columns: ['25', '94', '113', '1']
Skipping row due to insufficient columns: ['62', '95', '114', '85']
Skipping row due to insufficient columns: ['62', '95', '114', '86']
Skipping row due to insufficient columns: ['62', '95', '114', '87']
Skipping row due to insufficient columns: ['62', '95', '114', '88']
Skipping row due to insufficient columns: ['12', '49', '115', '17']
Skipping row due to insufficient columns: ['26', '31', '116', '36']
Skipping row due to insufficient columns: ['26', '31', '116', '37']
Skipping row due to insufficient columns: ['28', '34', '117', '41']
Skipping row due to insufficient columns: ['42', '96', '118', '1']
Skipping row due to insufficient columns: ['49', '97', '119', '1']
Skipping row due to insufficient columns: ['38', '50', '120', '52']
Skipping row due to insufficient columns: ['28', '34', '121', '41']
Skipping row due to insufficient columns: ['46', '66', '122', '59']
Skipping row due to insufficient columns: ['46', '66', '122', '60']
Skipping row due to insufficient columns: ['43', '63', '123', '56']
Skipping row due to insufficient columns: ['12', '49', '124', '17']
Skipping row due to insufficient columns: ['3', '98', '125', '6']
Skipping row due to insufficient columns: ['3', '98', '125', '7']
Skipping row due to insufficient columns: ['3', '98', '125', '8']
Skipping row due to insufficient columns: ['63', '99', '126', '89']
Skipping row due to insufficient columns: ['63', '99', '126', '90']
Skipping row due to insufficient columns: ['64', '100', '127', '1']
Skipping row due to insufficient columns: ['33', '41', '128', '47']
Skipping row due to insufficient columns: ['33', '41', '128', '48']
Skipping row due to insufficient columns: ['33', '41', '128', '49']
Skipping row due to insufficient columns: ['32', '39', '129', '45']
Skipping row due to insufficient columns: ['32', '39', '129', '46']
Skipping row due to insufficient columns: ['31', '53', '130', '1']
Skipping row due to insufficient columns: ['65', '101', '131', '1']
Skipping row due to insufficient columns: ['66', '102', '132', '91']
Skipping row due to insufficient columns: ['66', '102', '132', '92']
Skipping row due to insufficient columns: ['66', '102', '132', '93']
Skipping row due to insufficient columns: ['17', '103', '133', '25']
Skipping row due to insufficient columns: ['46', '73', '134', '59']
Skipping row due to insufficient columns: ['46', '73', '134', '60']
Skipping row due to insufficient columns: ['18', '104', '135', '26']
Skipping row due to insufficient columns: ['51', '79', '136', '67']
Skipping row due to insufficient columns: ['51', '79', '136', '68']
Skipping row due to insufficient columns: ['51', '79', '136', '69']
Skipping row due to insufficient columns: ['51', '79', '136', '70']
Skipping row due to insufficient columns: ['51', '79', '136', '71']
Skipping row due to insufficient columns: ['65', '105', '137', '1']
Skipping row due to insufficient columns: ['38', '106', '138', '52']
Skipping row due to insufficient columns: ['36', '47', '139', '1']
Skipping row due to insufficient columns: ['54', '85', '140', '1']
Skipping row due to insufficient columns: ['3', '3', '141', '6']
Skipping row due to insufficient columns: ['3', '3', '141', '7']
Skipping row due to insufficient columns: ['3', '3', '141', '8']
Skipping row due to insufficient columns: ['54', '107', '142', '1']
Skipping row due to insufficient columns: ['12', '108', '143', '17']
Skipping row due to insufficient columns: ['18', '51', '144', '26']
Skipping row due to insufficient columns: ['26', '109', '145', '36']
Skipping row due to insufficient columns: ['26', '109', '145', '37']
Skipping row due to insufficient columns: ['34', '42', '146', '50']
Skipping row due to insufficient columns: ['52', '81', '147', '1']
Skipping row due to insufficient columns: ['35', '110', '148', '51']
Skipping row due to insufficient columns: ['24', '28', '149', '1']
Skipping row due to insufficient columns: ['54', '85', '150', '1']
Skipping row due to insufficient columns: ['34', '111', '151', '50']
Skipping row due to insufficient columns: ['18', '51', '152', '26']
Skipping row due to insufficient columns: ['28', '112', '153', '41']
Skipping row due to insufficient columns: ['28', '112', '154', '41']
Skipping row due to insufficient columns: ['28', '34', '155', '41']
Skipping row due to insufficient columns: ['67', '113', '156', '94']
Skipping row due to insufficient columns: ['67', '113', '156', '95']
Skipping row due to insufficient columns: ['67', '113', '156', '96']
Skipping row due to insufficient columns: ['39', '75', '157', '53']
Skipping row due to insufficient columns: ['26', '31', '158', '36']
Skipping row due to insufficient columns: ['26', '31', '158', '37']
Skipping row due to insufficient columns: ['6', '114', '159', '12']
Skipping row due to insufficient columns: ['19', '115', '160', '27']
Skipping row due to insufficient columns: ['57', '116', '161', '76']
Skipping row due to insufficient columns: ['57', '116', '161', '77']
Skipping row due to insufficient columns: ['57', '116', '161', '78']
Skipping row due to insufficient columns: ['54', '107', '162', '1']
Skipping row due to insufficient columns: ['50', '117', '163', '65']
Skipping row due to insufficient columns: ['50', '117', '163', '66']
Skipping row due to insufficient columns: ['38', '50', '164', '52']
Skipping row due to insufficient columns: ['12', '49', '165', '17']
Skipping row due to insufficient columns: ['37', '48', '166', '1']
Skipping row due to insufficient columns: ['68', '118', '167', '97']
Skipping row due to insufficient columns: ['69', '119', '168', '1']
Skipping row due to insufficient columns: ['50', '120', '169', '65']
Skipping row due to insufficient columns: ['50', '120', '169', '66']
Skipping row due to insufficient columns: ['7', '7', '170', '13']
Skipping row due to insufficient columns: ['6', '46', '171', '12']
Skipping row due to insufficient columns: ['18', '51', '172', '26']
Skipping row due to insufficient columns: ['10', '19', '173', '1']
Skipping row due to insufficient columns: ['68', '121', '174', '97']
Skipping row due to insufficient columns: ['54', '85', '175', '1']
Skipping row due to insufficient columns: ['70', '122', '176', '98']
Skipping row due to insufficient columns: ['47', '123', '177', '61']
Skipping row due to insufficient columns: ['50', '78', '178', '65']
Skipping row due to insufficient columns: ['50', '78', '178', '66']
Skipping row due to insufficient columns: ['55', '84', '179', '75']
Skipping row due to insufficient columns: ['17', '67', '180', '25']
Skipping row due to insufficient columns: ['19', '21', '181', '27']
Skipping row due to insufficient columns: ['39', '124', '182', '53']
Skipping row due to insufficient columns: ['17', '18', '183', '25']
Skipping row due to insufficient columns: ['71', '125', '184', '99']
Skipping row due to insufficient columns: ['71', '125', '184', '100']
Skipping row due to insufficient columns: ['71', '125', '184', '101']
Skipping row due to insufficient columns: ['71', '125', '184', '102']
Skipping row due to insufficient columns: ['71', '125', '184', '103']
Skipping row due to insufficient columns: ['71', '125', '184', '104']
Skipping row due to insufficient columns: ['18', '40', '185', '26']
Skipping row due to insufficient columns: ['49', '77', '186', '1']
Skipping row due to insufficient columns: ['39', '75', '187', '53']
Skipping row due to insufficient columns: ['66', '102', '188', '91']
Skipping row due to insufficient columns: ['66', '102', '188', '92']
Skipping row due to insufficient columns: ['66', '102', '188', '93']
Skipping row due to insufficient columns: ['50', '126', '189', '65']
Skipping row due to insufficient columns: ['50', '126', '189', '66']
Skipping row due to insufficient columns: ['50', '127', '190', '65']
Skipping row due to insufficient columns: ['50', '127', '190', '66']
Skipping row due to insufficient columns: ['72', '128', '191', '105']
Skipping row due to insufficient columns: ['72', '128', '191', '106']
Skipping row due to insufficient columns: ['23', '129', '192', '1']
Skipping row due to insufficient columns: ['38', '130', '193', '52']
Skipping row due to insufficient columns: ['33', '41', '194', '47']
Skipping row due to insufficient columns: ['33', '41', '194', '48']

In [410]:
zulo_bank.columns

Index(['customer_id', 'account_id', 'transaction_id', 'loan_id'], dtype='object')